* { 
    margin: 0; padding: 0; 
    font-family: helvetica;

}

body {
    height: 1200px;
    
}

#top-bar{
    
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    
    
    
}
#top-right-bar{
    padding-right: 10%;
}


#home-text{
    font-size: 20px;
    font: bold;
    padding-left: 15px;
}

.container{
    display:flex;
    justify-content: center;
    min-height: 100%;
    
}
#profile-pic{
    position: absolute;
    bottom: 0;
}
#left-column{
    margin: 0px;
    border-right: 1px solid black;
    background-color: rgb(255, 255, 255);
}
#mid-column{
    width: 30%;
    border-right: 1px solid black;
    padding-right: 30px;
    
}
#profile-pic-top{
    
    display: flex;
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 15px;
}

#tweet-input{
    font-size: 18px;
    padding-left: 15px;
    height: 50px;
    width: 400px;
    border-style: none;
}

#icons-div{
    padding-left: 60px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

#tweet-button{
    display: flex;
    justify-content: space-between;
    margin:30px 15px ;
}

#search-div{
    background-color: #EFF3F6;
    margin-top: 5px;
    margin-left: 250px;
    border-right: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: fixed;
    
}

#search-div:hover{
  background-color: white; 
  color: black; 
  border: 1px solid rgb(29, 155, 240)
}


#search-div > i{
    font-size: 16px;
}

#search-div > input{
	flex: 1;
	height: 40px;
	outline: none;
	font-size: 15px;
	padding-left: 10px;
    border-radius: 10px;
    border-style: none;

}


#search-input{
    height: 10px;
    width: 300px;
    background-color: #EFF3F6;

}

#search-input:hover{
    background-color: white; 
}



#tweet{
   align-self: center;

}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    background-color: rgb(29, 155, 240);
    color: white;
    font-size: 20px;
    border-radius: 24px;
    padding: 10px 70px;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(26, 137, 211);
}


.button1 {
    display: inline-flex;
    height: 40px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background: white;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 20px;
    border-radius: 24px;
    cursor: pointer;
}

.button__icon {
    margin-right: 10px;
    color: rgb(15, 20, 25);
}

.button__text{
    font-size: 19px;
}

.button1:hover {
    background-color: rgb(230, 230, 231)
}

.blueLink{
    color: rgb(29, 155, 240);
    font-size: 15px;
}

.smallButton {
    background-color: rgb(126, 194, 240);
    color: white;
    font-size: 20px;
    border-radius: 24px;
    padding: 5px 35px;
    text-decoration: none;
}

.search{
    background-color: grey;
}

#placeholder-right{
    margin-top:10px;
    margin-left: 15px;
    padding-top:8px;
    text-align: center;
    font-size:15px;
    border-radius: 10px;
    
}

.whats-happening-block{
    cursor: pointer;
    background-color: rgb(246, 248, 248);
    padding: 20px;
    margin-top: 70px;
    margin-left: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    width: 300px;
    
}

.whats-happening-single-block{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.whats-happening-single-block:hover{
    background-color: rgb(231, 233, 233)
    
}

#whats-happening {
    padding-bottom: 20px;
}

.whats-happening__content__title{
    font-size: 12px;
    color: rgb(83, 100, 113);
    padding-bottom: 5px;
}

.whats-happening__content__text{
    font-size: 14px;
    color:rgb(15, 20, 25);
    font-stretch: 100%;
    font-weight: 700;
    line-height: 1.3;
    
}
    

.whats-happening-block_tweets{
    font-size: 12px;
    color: rgb(83, 100, 113);
    padding-top: 5px;
}

.whats-happening__content_image{
    border-radius: 10px;
    width: 70px;
    height: 68px;
}

.who-to-follow__block{
    background-color: rgb(246, 248, 248);
    padding: 20px;
    margin-top: 20px;
    margin-left: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    width: 300px;
}

.who-to-follow__title{
    padding-bottom: 100px;
    font-weight: 700;
}

.who-to-follow__single-block{
    display: flex;
    padding: 10px, 15px;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 20px;
    
}

.who-to-follow__single-block:hover{
    background-color: rgb(231, 233, 233)
}



.who-to-follow__user-name{
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;

}

.who-to-follow__user-acc{
    font-size: 14px;
    color: rgb(83, 100, 113);
    cursor: pointer;
}

.who-to-follow__image{
    border-radius: 50%;
    width: 49px;
    height: 49px;
    margin-right: 10px;
    
}

.who-to-follow__content{
    justify-content: start;
    width: 200px;
}

.who-to-follow__button{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
    padding: 8px 15px 8px 15px;
    
}

.timeline{
  margin: 15px 20px;  
}

.timeline__single-block{
    margin-top: 15px;
    display: flex;
    border-bottom: 1 px solid;
    border-top: 1 px solid;
}


.timeline__single-block__image{
    border-radius: 20px;
    height: 344px;
    width: 504x;
}

.timeline__single-block__tweet{
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;
}

.timeline__single-block__icons{
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}


/*
color blue twitter RBG: 91, 154, 236
color blue mouse hovered over RBG: 81, 139, 213
color blue inactive button: 
color grey RBG: 247, 249, 249
*/
